<template>
  <div class="home">
    <FilterBox msg=""/>
	<ReportGrid/>
  </div>
</template>

<script lang="ts">
	import { Component, Vue } from 'vue-property-decorator';
	import FilterBox from '@/components/FilterBox.vue';
	import ReportGrid from '@/components/ReportGrid.vue';

	@Component({
		components: {
			FilterBox,
			ReportGrid
		},
	})
	export default class Home extends Vue {}
</script>
