<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { customersService } from '@/services/Customers.service'
import { domainsService } from '@/services/Domains.service'
import { ComboItem } from '@/classes/ComboItem'
import { ReportFilter } from '@/classes/ReportFilter'
import Datepicker  from 'vuejs-datepicker'
import { ptBR } from 'vuejs-datepicker/dist/locale'
import BootstrapToggle from 'vue-bootstrap-toggle'

@Component({
	components: 
	{
		Datepicker,
		BootstrapToggle
	},
})
export default class FilterBox extends Vue 
{
	ptBR: string = ptBR
	customerOptions: ComboItem[] = []
	domainOptions: ComboItem[] = []
	loadingDomains: boolean = false
	selectedFilter: ReportFilter = new ReportFilter("", "", new Date(), false)

	created () 
	{
		customersService.getAll().then (response => (this.customerOptions = response.data))
	}

	customer_selected (e: any)
	{
		this.selectedFilter.customer = ''
		let customer = e.target.value
		this.loadingDomains = true
		domainsService.getByCustomer(customer).then ((response) => 
		{
			this.domainOptions = response.data
			this.selectedFilter.customer = customer
			this.loadingDomains = false
			window.setTimeout ("window.refreshControls ()", 100)
		})	
	}

	filter ()
	{
		
		this.$store.dispatch ('setFilter', this.selectedFilter)
	}
}

</script>

<template>
	<div class="container">
		<div class="card mb-3">
			<div class="card-header bg-primary text-white">
				Gr&aacute;fico de Tempos
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-3">
						<label for="customer" class="form-label">Cliente</label>
						<select id="customer" class="form-control bs-select" @change="customer_selected">
							<option
								v-for="option in customerOptions" 
								v-bind:key="option.id" 
								v-bind:value="option.value"
							>
								{{ option.text }}
							</option>
						</select>
					</div>
					<div class="col-md-2" v-if="selectedFilter.customer">
						<label for="domain" class="form-label">Frota</label>
						<select id="domain" class="form-control bs-select" v-model="selectedFilter.domain">
							<option 
								v-for="option in domainOptions" 
								v-bind:key="option.id" 
								v-bind:value="option.value"
							>
								{{ option.text }}
							</option>
						</select>
					</div>
					<div class="col-md-2" v-if="loadingDomains">
						<label for="fakeDomain" class="form-label">Carregando Frotas...</label>
						<select id="fakeDomain" class="form-control bs-select" disabled></select>
					</div>
					<div class="col-md-3" v-if="selectedFilter.customer">
						<label for="reference_dt" class="form-label">Data de Inicio</label>
						<datepicker 
							:language="ptBR" 
							format="dd/MM/yyyy" 
							v-model="selectedFilter.reference_dt"></datepicker>
					</div>
					<div class="col-md-2" v-if="selectedFilter.customer">
						<label class="control-label">.</label>
						<button @click="filter" class="btn btn-primary form-control">Filtrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
