<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { reportService } from '@/services/Report.service'
import { ReportFilter } from '@/classes/ReportFilter'
import { GraphItem } from '@/classes/GraphItem'
import * as createjs from 'createjs-module'

@Component
export default class ReportGrid extends Vue 
{
	private reportItems: { [key: string]: number } = {}

	created () 
	{
		this.reportItems ['R'] = this.reportItems ['T'] = this.reportItems ['V'] = this.reportItems ['D'] = this.reportItems ['C'] = 0
		this.$store.subscribe ((mutationPayload, state) => 
		{
			let filter: ReportFilter = mutationPayload.payload.filter
			reportService.getReport (filter).then ((response) => 
			{
				let barHeight = 30
				let separation = 0
				let payload = reportService.processData (response.data) 
				let rects: { [key: string]: GraphItem[] } = payload.reportPerStatus
				this.reportItems = payload.totals
				let config: { [key: string] : { color: string, vertical_position: number } } = {}
				config ['R'] = { color: '#008000', vertical_position: (barHeight * 0) + (separation * 0) } 
				config ['T'] = { color: '#FFFF00', vertical_position: (barHeight * 1) + (separation * 1) }
				config ['D'] = { color: '#1569C7', vertical_position: (barHeight * 2) + (separation * 2) } 
				config ['V'] = { color: '#FF00FF', vertical_position: (barHeight * 3) + (separation * 3) }
				config ['C'] = { color: '#00FFFF', vertical_position: (barHeight * 4) + (separation * 4) }
				
				var stage = new createjs.Stage('graphCanvas');
				
				for (let i=0; i <= 1440; i++)
				{
					if (i % 60 == 0)
					{
						var shape = new createjs.Shape()
						shape.graphics.beginFill("#c0c0c0")
						shape.graphics.drawRect(this.scale (i), 0, 1, 166)
						shape.graphics.endFill()
						stage.addChild(shape)
						var text = new createjs.Text(this.convertTime (i), 'bold 10px Arial', "black")
						text.x = this.scale (i) + 10
						text.y = 156
						stage.addChild (text)
					}
				}

				Object.keys(config).map ((status) => 
				{
					if (rects [status])
					{
						rects [status].map ((rect) => 
						{
							var shape = new createjs.Shape()
							shape.graphics.beginLinearGradientFill(
								[
									config [status].color,
									this.shadeColor (config [status].color, -30)
								], 
								[0, 1], 
								0, 
								config [status].vertical_position, 
								0, 
								config [status].vertical_position + barHeight
							)
							shape.graphics.drawRoundRect(
								this.scale (rect.position), 
								config [status].vertical_position, 
								this.scale (rect.length), 
								barHeight,
								rect.length < 10 ? 0 : 3
							)
							shape.graphics.endFill()
							stage.addChild(shape);
						})
					}
				})
				stage.update();
			})
		})
	}

	scale (source: number): number
	{
		let scaled = source * 0.77
		return (scaled < 1 && source > 0) ? 1 : scaled
	}

	shadeColor(color: string, percent: number) 
	{
		var R = parseInt (color.substring (1, 3), 16)
		var G = parseInt (color.substring (3, 5), 16)
		var B = parseInt (color.substring (5, 7), 16)
		R = parseInt ('' + (R * (100 + percent) / 100))
		G = parseInt ('' + (G * (100 + percent) / 100))
		B = parseInt ('' + (B * (100 + percent) / 100))
		R = (R < 255) ? R : 255;  
		G = (G < 255) ? G : 255;  
		B = (B < 255) ? B : 255;  
		var RR = this.lz (R.toString (16))
		var GG = this.lz (G.toString (16))
		var BB = this.lz (B.toString (16))
		return `#${RR}${GG}${BB}`
	}

	convertTime(source: number)
	{
		source /= 60
		let seconds = (source * 3600);
		let hours = Math.floor(source);
		seconds -= hours * 3600;
		let minutes = Math.floor(seconds / 60);
		seconds -= minutes * 60;
		return this.lz (hours + '') + ":" + this.lz (minutes + '')
	}

	lz (source: string)
	{
		return `00${source}`.slice (-2)
	}
}

</script>

<template>
	<div class="container">
		<div class="card mb-3">
			<div class="card-header bg-primary text-white">
				Totais (Minutos)
			</div>
			<div class="card-body">
				<table class="table table-striped table-bordered table-sm">
					<tbody>
						<tr>
							<td>Motor Ligado:</td>
							<td class="text-center">
								{{ convertTime (reportItems ["R"]) }}
							</td>
						</tr>
						<tr>
							<td>Tracionando:</td>
							<td class="text-center">
								{{ convertTime (reportItems ["T"]) }}
							</td>
						</tr>
						<tr>
							<td>Manut. Preditiva:</td>
							<td class="text-center">
								{{ convertTime (reportItems ["D"]) }}
							</td>
						</tr>
						<tr>
							<td>Manut. Preventiva:</td>
							<td class="text-center">
								{{ convertTime (reportItems ["V"]) }}
							</td>
						</tr>
						<tr>
							<td>Manut. Corretiva:</td>
							<td class="text-center">
								{{ convertTime (reportItems ["C"]) }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<table class="table" style="width:70%; font-size: 0.8em; height: 20px">
			<tr>
				<th style="background-color: green; color: white">Motor Ligado</th>
				<th style="background-color: yellow; color: black">Tracionando</th>
				<th style="background-color: blue; color: white">Manut. Preditiva</th>
				<th style="background-color: magenta; color: white">Manut. Preventiva</th>
				<th style="background-color: cyan; color: black">Manut. Corretiva</th>
				<th style="background-color: gray; color: white">Motor Desligado</th>
			</tr>
		</table>
		<canvas id="graphCanvas" width="1110px" height="166" style="background-color: #f0f0f0;"></canvas>
	</div>
</template>
